@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
   display: flex;
   justify-content: space-between;
   background: white;
   border-bottom: 1px solid #ddd;
   box-shadow: 0 0 8px rgba(0,0,0,.1);
   align-items: center;
   height: 70px
}

.left-links{
   display: flex;
   flex: auto;
}

li{
   flex: auto;
   margin-right: 10px;
   color: rebeccapurple;
}

a {
   text-decoration: none;
   color: rebeccapurple;
   font-weight: 600;
   
}

.profile {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.right-links{
   display: flex;
   margin-right: 5px;
   gap: 16px;
}

ul{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.logo{
   font-style: italic;
   margin-left: 15px;
   font-size: 32px;
   font-weight: 900px;
   margin-right: 20px;
}

button{
   border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}